<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Angular Includes</title>

    <!--STYLES-->
    <link rel="stylesheet" href="/vendors/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/styles/style.css">

    <!--SCRIPTS-->
    <script type="text/javascript" src="/vendors/angular.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-route.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/app.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/controllers.min.js"></script>
</head>
<body>

    <header class="jumbotron" ng-include="'assets/views/templates/header.html'"></header>
    <!--<ng-include src="'assets/views/templates/header.html'"></ng-include>-->

    <main ng-view></main>

    <footer ng-include="'assets/views/templates/footer.html'"></footer>
</body>
</html>